$header-height: 60px;

header.header-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  @include box-shadow(black 0px 0px 5px);
  z-index: 10;
  height: $header-height;

  .header-content-container {
    @include outer-container; 

    .header-content {
      @include span-columns(10);
      @include shift(1);
      .logo-ministerio {
        @include span-columns(6);
        img {
          height: $header-height;
          display: inline-block;
          vertical-align: bottom;
        }
      }

      @import 'header-menu'
    }
    
  }
}