#admin-landing #dependencies {
  height: 100%;
  padding-top: $navigation-height;

  .list-container {
    height: 100%;
    overflow-y: auto;
  }

  #dependencies-tree,
  #dependencies-results {
    
    .dependency {
      padding: 4px 0;
      cursor: pointer;

      &:hover,
      &.selected {
        background: $grey-200;
      }

      img {
        height: 1em;
        width: 1em;
        @include transition(transform 100ms ease-in-out 0s);
      }

      &.expanded img {
        @include transform(rotate(90deg) translateX(2px));
      }
      
      .obligee-name {
        font-size: 13px;
      }
    }

    .dependency.collapsed + .children {
      display: none;
    }
  }

  #dependencies-results .dependency{
    padding-left: 12.5%;
  }
}