body.showing-error-bar {
  #admin-landing,
  #operator-landing,
  #audience-editor,
  #user-config,
  #user-help,
  #user-about {
    padding-top: $header-height + $error-bar-height;
  }
}

#admin-landing {
  height: 100%;
  padding-top: $header-height;
  #admin-landing-container {
    @include outer-container();
    height: 100%;
    #left-container {
      @include box-shadow($layout-shadow);
      @include span-columns(8);
      height: 100%;
    }
    #right-container {
      @include span-columns(4);
      height: 100%;
      position: relative;
      z-index: 6;
      background-image: url('/assets/background2.jpg');
      background-size: cover;
      background-position: center center;
      #background-color-layer {
        background-color: rgba($grey-100, 0.8);
        height: 100%;
      }
    }
  }
}


#operator-landing {
  height: 100%;
  padding-top: $header-height;
  @include outer-container();
  #operator-landing-container {
    height: 100%;
    position: relative;
    @include box-shadow($operator-side-shadow);
    #operator-navigation-container {
      height: $operator-navigation-height;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: solid 1px $grey-300;
      background: white;
      z-index: 5;
    }
    #operator-audiences-container {
      height: 100%;
      padding-top: $operator-navigation-height;
      position: relative;
    }
  }
}

#audience-editor {
  height: 100%;
  padding-top: $header-height;
  @include outer-container();
  #audience-editor-container {
    min-height: 100%;
    position: relative;
    @include box-shadow($operator-side-shadow);
    @include span-columns(12);
    @include breakpoint-lg {
      @include span-columns(10);
      @include shift(1);
    }
    padding: 50px;
  }
}

#user-config,
#user-help,
#user-about,
.error-layout {
  height: 100%;
  padding-top: $header-height;
  @include outer-container();
  #user-config-container,
  #user-about-container,
  #user-help-container,
  .error-container {
    min-height: 100%;
    position: relative;
    @include box-shadow($operator-side-shadow);
    @include span-columns(10);
    @include shift(1);
    padding: 50px;
  }
}