#admin-landing {
  height: 100%;
  padding-top: $header-height;
  #admin-landing-container {
    @include outer-container();
    height: 100%;
    #left-container {
      @include span-columns(8);
      height: 100%;
    }
    #right-container {
      @include span-columns(4);
      height: 100%;
      position: relative;
      z-index: 6;
      background-image: url('/assets/background.jpg');
      background-size: cover;
      background-position: center center;
      #background-color-layer {
        background-color: rgba($grey-100, 0.8);
        height: 100%;
      }
    }
  }
}

