#admin-landing #side-menu-container {
  height: 100%;
  padding: 30px 0;
  @include span-columns(4 of 6);
  @include shift(1 of 6);
  
  #side-menu {
    background: white;
    @include box-shadow($side-menu-shadow);
    height: 100%;
    overflow-y: auto;
    @include border-radius(4px);
  }
}

#side-menu .generic-menu {
  position: relative;
  padding-bottom: 10px;
  min-height: 100%;

  .top-menu-container {
    padding: 10px 10px 0 10px;
    text-align: right;
    position: relative;
    height: 60px;
    img {
      height: 30px;
      cursor: pointer;
    }

    .top-menu {
      position: absolute;
      top: 39px;
      right: 12px;
      text-align: left;
      background: white;
      @include box-shadow($top-menu-shadow);
      border: solid 1px $grey-100;

      .top-menu-action {
        font-size: 12px;
        padding: 8px 20px 8px 8px;
        cursor: pointer;
        border-bottom: solid 1px $grey-100;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background: $grey-100;
        }
      }
    }
  }

  .cancel-mode {
    display: none;
    padding: 10px 10px 0 10px;
    text-align: left;
    height: 60px;
    #cancel {
      position: relative;
      height: 100%;
      line-height: 40px;
      display: inline-block;
      padding-left: 28px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      color: $grey-300;
      img {
        height: 30px;
        padding: 4px;
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
  }

  .confirmation-container {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    button {
      padding: 5px 8px;
      font-size: 13px;
    }
  }

  &.modifying {
    padding-bottom: 45px;
    .cancel-mode,
    .confirmation-container {
      display: block;
    }
    .top-menu-container {
      display: none;
    }
    &.with-form {
      .cancel-mode,
      .confirmation-container {
        visibility: hidden;
      }
    }
    .title-name {
      cursor: pointer;
    }
  }

  .title {
    font-size: 18px;
    text-align: center;
    padding: 0px 20px 30px 20px;
    .title-buttons {
      margin-top: 10px;
      font-size: 11px;
      button {
        font-weight: 400;
        padding: 4px 8px;
        &#hide-admins,
        &#cancel-edit-dependency {
          background: $grey-300;
        }
        &#remove-dependency {
          background: $red;
        }
      }
    }
    .title-form {
      padding: 0 10px;
      input {
        text-align: center;
        width: 100%;
        padding: 1px 10px;
      }
    }
  }

  .edit-veil {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(white, 0.5);
    z-index: -1;
  }
}