<div class="error-container">
  <div class="error-align">
    <div class="error-content">
      <div class="error-number-container">
        <div class="error-number-content">
          500
        </div>
      </div>
      <div class="error-description">HA OCURRIDO UN ERROR INESPERADO</div>
      <a href="/">
        <button class="green">VOLVER</button>
      </a>  
    </div>
  </div>
</div>
