<div class="with-external-footer">
  <div class="error-container">
    <div class="error-layout background-blue">
      <div class="error-align">
        <div class="error-content internal-server-error">
          <div class="go-back-container">
            <a href="/">
              <button class="green">VOLVER</button>
            </a>  
          </div>   
        </div>
      </div>
    </div>
  </div>
</div>
