<div class="with-external-footer">
  <div class="error-container">
    <div class="error-layout">
      <div class="error-align">
        <div class="error-content not-found">
          <div class="go-back-container">
            <a href="/">
              <button class="green">VOLVER</button>
            </a>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
