<div id="error-bar-spacer">
  <div id="error-bar-content">
    <img src="/assets/icon-cancelar-blanco.svg" class="hide-error-bar">
    Ha ocurrido un error inesperado. Verifique que su conexión a internet esté funcionando y vuelva a intentar.
  </div>
</div>