<div class="top-menu-container">
  <img src="/assets/icon-configurar.svg" class="toggle-menu-icon">
  <img src="/assets/icon-configurar-select.svg" class="toggle-menu-icon hidden">
  <div class="top-menu hidden">
    <div class="top-menu-action" id="add-sub-dependency">Agregar subdependencia</div>
    <div class="top-menu-action" id="edit-supervisors">Editar usuarios</div>
    <div class="top-menu-action" id="remove-supervisors">Dar de baja usuarios</div>
    <% if (obligee) { %> 
      <div class="top-menu-action" id="see-dependency-audiencees">Ver audiencias</div>
    <% } %>
  </div>
</div>
<div class="cancel-mode">
  <span id="cancel"><img src="/assets/icon-cancelar.svg"> CANCELAR</span>
</div>

<div class="title">
  <%= name %>
  <div class="title-buttons">
    <button id="see-admins" class="toggle-admin-view">VER ADMINISTRADOR</button>
    <button id="hide-admins" class="toggle-admin-view hidden">VOLVER</button>
    <button id="edit-dependency" class="hidden">EDITAR</button>
    <button id="remove-dependency" class="hidden">BAJA</button>
  </div>
</div>

<div class="menu-lists"></div>

<div class="confirmation-container">
  <button id="confirm-actions">FINALIZAR</button>
</div>