<div class="obligee-form">
  <div class="label">Tipo y nro. de documento</div>
  <div class="type-and-doc">
    <select class="id-type-select ">
      <option value="dni">DNI</option>
      <option value="lc">LC</option>
      <option value="le">LE</option>
    </select>
    <input type="text" class="person-id-input" placeholder="00000000">
  </div>
  <div class="label">Nombre</div>
  <input type="text" class="name-input disabled-if-found" placeholder="Nombre">
  <div class="label">Apellido</div>
  <input type="text" class="surname-input disabled-if-found" placeholder="Apellido">
  <div class="label">Cargo</div>
  <input type="text" class="position-input" placeholder="Cargo">
  <div class="label">Mail</div>
  <input type="text" class="email-input disabled-if-found" placeholder="mail@unmail.com">
  <div class="form-actions">
    <button class="cancel-add-new-user">CANCELAR</button>
    <button class="add-new-user">AGREGAR</button>
  </div>
</div>