<div class="edit-veil hidden"></div>

<div class="top-menu-container">
  <img src="/assets/icon-configurar.svg" class="toggle-menu-icon show-top-menu">
  <img src="/assets/icon-configurar-select.svg" class="toggle-menu-icon hide-top-menu hidden">
  <div class="top-menu hidden">
    <div class="top-menu-action" id="add-dependency">Agregar dependencia</div>
    <div class="top-menu-action" id="edit-supervisors">Editar usuarios</div>
    <div class="top-menu-action" id="remove-supervisors">Dar de baja usuarios</div>
  </div>
</div>
<div class="cancel-mode">
  <span id="cancel"><img src="/assets/icon-cancelar.svg"> Cancelar</span>
</div>

<div class="title">
  Supervisores del sistema
</div>

<div class="menu-lists"></div>

<div class="confirmation-container">
  <button id="confirm-actions">FINALIZAR</button>
</div>