<div class="user-list-title">
  <%= title %>
  <% if (!showingForm && !userMode) { %>
    <img src="/assets/logo-agregar.svg" class="add-user">
  <% } %>
</div>
<div class="users"></div>
<div class="form"></div>