<p>Estimado <%= user.name %>,</p>
<p>Tenemos el agrado de informarle que ha sido nombrado en una Audiencia de Gestión de Intereses, en carácter de Solicitante. Para ver la información de la Audiencia completa, por favor, siga el siguiente link:</p>
<p>LINK</p>
<p>Saludos cordiales,</p>
<p>El Equipo de Registro Único de Audiencias de Gestión de Intereses<br>
Subsecretaría de Reforma Institucional<br>
y Fortalecimiento de la Democracia<br>
(011) 4339-0800 interno 71276<br>
registrodeaudiencias@mininterior.gob.ar</p>
<p>---</p>
<p>No responda este correo. El mismo ha sido generado de forma automática. Si necesita ayuda, contáctenos a través de registrodeaudiencias@mininterior.gob.ar</p>
