<%= stylesheet_link_tag 'mails', media: 'all' %>

<p class="greeting">Estimado <%= @user.name %>,</p>
<p>Usted ha solicitado restablecer su contraseña como usuario del Registro de Audiencias de Gestión de Intereses.</p>
<p>Para resetearla, por favor, siga el siguiente link:</p>
<p><%= link_to('Reestablecer contraseña', password_reset_form_url(@user.password_reset_token), { target: '_blank'}) %></p>
<p>Si no ha solicitado el cambio de contraseña, desestime este mensaje.</p>
<p>¿Qué es el Registro Único de Audiencias de Gestión de Intereses?<br><a href="https://youtu.be/GmgNE-fHGX4" target="_blank">Vea el video.</a></p>

<p>Saludos cordiales,</p>
