<%= stylesheet_link_tag 'mails', media: 'all' %>

<p class="greeting">Estimado <%= @user.name %>,</p>
<p>Usted ha solicitado restablecer su contrase침a como usuario del Registro de Audiencias de Gesti칩n de Intereses del Poder Ejecutivo Nacional.</p>
<p>Para resetearla, por favor, siga el siguiente link:</p>
<p><%= link_to('Reestablecer contrase침a', password_reset_form_url(@user.password_reset_token), { target: '_blank'}) %></p>
<p>Si no ha solicitado el cambio de contrase침a, desestime este mensaje.</p>
<p>Saludos cordiales,</p>
