#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: $header-height;
  @include box-shadow($header-shadow);
  z-index: 10;

  #header-container {
    @include outer-container; 

    #header-content {
      @include span-columns(10);
      @include shift(1);
    }
  }
}

#header .both-logos img {
  height: $header-height;
  &#logo-subsecretaria {
    float: right;
  }
}