<div class="autocomplete-wrapper">
  <button class="search-icon">BUSCAR</button>
  <img src="/assets/icon-cancelar.svg" class="remove-icon">
  <p class="selected-value"></p>
  <p class="sintys-error" >No se han encontrado resultados</p>
</div>
