<div class="autocomplete-wrapper">
  <button class="search-icon">BUSCAR</button>
  <img src="/assets/icon-cancelar.svg" class="remove-icon">
  <p class="selected-value"></p>
  <p class="sintys-error" style="position: absolute; bottom: -1.5em;color:#d9534f; font-size: 0.8em; display: none">No se han encontrado resultados</p>
</div>
