<div class="editor-section" id="audience-main">
  Datos de la audiencia
  <div class="left-column">
    <p>Motivo</p>
    <p>Describa en una oración el motivo o razón de la solicitud de audiencia. Máximo 200 caracteres</p>
    <select>
      <option>Particular</option>
      <option>Colectivo</option>
      <option>Difuso</option>
    </select>
  </div>
  <div class="right-column">
  </div>
</div>

<div class="editor-section" id="audience-theme">
  <p>Síntesis</p>
  <p>Describa de manera concisa lo sucedido en la audiencia, lo resuelto y el seguimiento del tema, de corresponder.</p>
  <textarea placeholder="Ej: En el encuentro se acercaron posiciones entre el pedido de los participantes de regular los aumentos de precios del huevo y lo que actualmente ya está haciendo el ministerio al respecto. Se acordó quedar en contacto para hacer un seguimiento bimestral del tema."></textarea>
</div>