<div class="editor-section" id="participants">
  <div>
    <span class="section-title">
      <img src="/assets/icon-marcador-derecha.svg" class="arrow">
      ¿Participaron otras personas en la audiencia?
    </span>
    <div class="participants-radio-container">
      <input type="radio" class="participants-radio" id="no-participants" 
        name="participants-radio" checked>
      <label class="participants-label" for="no-participants">No</label>
      <input type="radio" class="participants-radio" id="yes-participants" 
        name="participants-radio">
      <label class="participants-label" for="yes-participants">Si</label>
    </div>
  </div>
</div>
