#audience-editor {
  #audience-editor-navigation {
    padding-bottom: 15px;
    border-bottom: solid 1px $grey-300;
    @include span-columns(10 of 10);
    #go-back {
      margin-bottom: 20px;
      font-size: 14px;
      a {
        color: $grey-300;
      }
      img {
        height: 15px;
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
    }
  }

  #editor-sections {
    @include span-columns(10 of 10);
  }

  $left-column: 6;
  $right-column: 4;
  $total-columns: $left-column + $right-column;

  .editor-section,
  .editor-section-collapsed,
  .editor-section-expanded {
    @include span-columns($total-columns of $total-columns);
  }
  .left-column {
    @include span-columns($left-column of $total-columns);
  }
  .right-column {
    @include span-columns($right-column of $total-columns);
  }
  .arrow {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .editor-section {
    padding: 10px;
    border-bottom: solid 1px $grey-300;
  }

  #obligee {
    .left-column {
      color: $grey-300;
    }
  }

  .red {
    color: $red;
  }

  .section-title {
    font-size: 18px;
  }

  #applicant, 
  #represented {
    .section-title {
      color: $blue-300;
    }
    .represented-radio-container {
      display: inline-block;
      position: relative;
      background: $grey-100;
      border: solid 1px $grey-200;
      @include border-radius(4px);
      margin-left: 15px;
      .represented-radio {
        position: absolute;
        left: -9999px;
      }
      .represented-label {
        padding: 4px 8px;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
      }
      .represented-radio:checked + .represented-label {
        background: $grey-200;
      }
    }
    .represented-or-not.disabled {
      .section-title {
        color: $grey-300;
      }
      .represented-label {
        color: $grey-300;
        cursor: default;
      }
    }
    #represented-form {
      padding: 5px 25px;
      .representation-type {
        font-size: 14px;
        input {
          margin: 0 20px 0 5px;
        }
      }
    }
  }

  #represented {
    .entity-tooltip,
    .organism-tooltip,
    .group-tooltip {
      height: 24px;
      vertical-align: middle;
    }
  }

  #applicant,
  #represented,
  #participants {
    .participant-card {
      padding-right: 6em;
      width: 100%;
      min-height: 7em;
      .edit-applicant,
      .remove-applicant,
      .edit-participant,
      .remove-participant,
      .edit-represented,
      .remove-represented {
        position: absolute;
        right: 0;
        font-size: 11px;
        width: 6em;
      }
      .edit-applicant,
      .edit-participant,
      .edit-represented,
      .remove-represented {
        top: 2em;
      }
      .remove-applicant,
      .remove-participant,
      .remove-represented {
        top: 4.5em;
      }
    }
  }

  #participants {
    padding-bottom: 50px;
    .section-wide {
      @include span-columns(10 of 10);
    }
    .section-title {
      color: $blue-300;
      .participants-tooltip {
        height: 24px;
        vertical-align: bottom;
      }
    }
    .confirm-save {
      font-size: 12px;
    }
    .participants-radio-container {
      display: inline-block;
      position: relative;
      background: $grey-100;
      border: solid 1px $grey-200;
      @include border-radius(4px);
      margin-left: 15px;
      .participants-radio {
        position: absolute;
        left: -9999px;
      }
      .participants-label {
        padding: 4px 8px;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
      }
      .participants-radio:checked + .participants-label {
        background: $grey-200;
      }
    }
    .participant-form {
      padding: 10px;
      .nationality-container {
        margin-bottom: 0;
      }
    }
  }

  #audience-editor-actions {
    @include span-columns(10 of 10);
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    button {
      padding: 8px 12px;
      margin-right: 10px;
    }
  }

}

#audience-editor .participant-card,
.audience-preview .participant-card {
  position: relative;
  padding: 10px 10px 10px 3em;
  display: inline-block;
  font-size: 13px;
  .user-icon {
    position: absolute;
    top: 12px;
    left: 0;
  }
  .participant-name {
    font-size: 14px;
    font-weight: 500;
  }
  .participant-position {
    margin-bottom: 5px;
  }
  .participant-absent {
    margin-top: 10px;
  }
  & > div {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#audience-editor  .person-form {
  padding: 15px 30px;
  .id-tooltip {
    height: 24px;
    vertical-align: bottom;
  }
  .nationality-container {
    font-size: 14px;
    background: $grey-100;
    border: solid 1px $grey-200;
    @include border-radius(4px);
    display: inline-block;
    margin-bottom: 10px;
  }
  .nationality-radio {
    position: absolute;
    left: -9999px;
  }
  .nationality-label {
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
  }
  .nationality-radio:checked + .nationality-label {
    background: $grey-200;
  }

  .field-table {
    display: table;
    width: 100%;
    .row {
      display: table-row;
      width: 100%;
      .cell {
        display: table-cell;
        width: 33.3333%;
        padding: 10px 0;
        &.button-cell {
          vertical-align: bottom;
          button {
            margin-bottom: 3px;
          }
        }
        .field-label {
          font-size: 15px;
          margin-bottom: 4px;
          &.no-margin {
            margin: 0;
          }
        }
        .field-label-description {
          font-size: 13px;
          margin-bottom: 4px;
        }
        .field-input,
        .countries-select {
          padding: 3px 8px;
          width: 85%;
          font-size: 13px;
          height: 30px;
        }

        .autocomplete-wrapper {
          width: 85%;
          .person-id-input {
            width: 100%;
          }
        }

        .id-joint-field {
          position: relative;
          width: 85%;
          .id-type-input {
            height: 30px;
            width: 30%;
          }
          .autocomplete-wrapper {
            width: 68%;
            position: absolute;
            top: 0;
            right: 0;
            input {
              width: 100%;
            }
          }
        }
      }
      .description-cell {
        position: relative;
        .description-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 85%;
          height: 200%;
          textarea {
            width: 100%;
            max-width: 100%;
            height: 88px;
            resize: none;
            margin: 5px 0;
            padding: 5px;
          }
        }
      }
    }
  }

  .confirm-save {
    font-size: 13px;
  }

  .form-actions {
    margin-top: 10px;
    .confirm-save {
      float: right;
      margin-right: 5%;
    }

    .participation-label {
      &:first-of-type {
        margin-left: 20px;
      }
      margin-left: 10px;
    }  
  }
}

#audience-editor .inner-form {
  .person-form {
    padding: 15px 0;
  }
  .form-actions {
    text-align: right;
  }
  .button-cell {
    vertical-align: bottom;
    button {
      margin-bottom: 3px;
    }
  }
}
