#dependencies-menu-container {
  height: 100%;
  @include span-columns(4);
  background: #f2f2f2;

  #dependencies-menu-spacer {
    @include span-columns(4 of 6);
    @include shift(1 of 6);
    max-height: 100%;
    padding: 50px 0;
    height: 100%;

    .side-menu {
      position: relative;
      background: white;
      max-height: 100%;
      padding-bottom: 20px;

      .top-menu {
        position: absolute;
        top: 8px;
        right: 6px;
        
        $icon-height: 42px;
        img {
          width: $icon-height;
          position: absolute;
          top: 0;
          right: 0;
          &.settings-icon-hover {
            display: none;
          }
        }

        .menu-dropdown {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          padding-top: $icon-height / 1.3;
          ul {
            margin: 0;
            list-style: none;
            background: white;
            padding: 0;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            border: solid 1px #ccc;
            border-radius: 2px;
            font-size: 13px;
            min-width: 190px;
            li {
              border-bottom: solid 1px #ccc;
              margin: 6px;
              padding-bottom: 6px;
              cursor: pointer;
              &:last-child {
                border: none;
              }
            }
          }
        }

        &:hover {
          img.settings-icon {
            display: none;
          }
          img.settings-icon-hover {
            display: block;
          }
          .menu-dropdown {
            display: block;
          }
        }
      }
      
      .title {
        padding: 50px 0;
        font-size: 18px;
        text-align: center;
      }

      .user-section {
        padding: 0 20px;
        .user-section-title {
          border-bottom: solid 1px #ccc;
          img {
            height: 24px;
            vertical-align: text-bottom;
            float: right;
          }
        }
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          .user {
            position: relative;
            padding: 10px 10px 10px 55px;
            .user-icon {
              position: absolute;
              top: 50%;
              left: 5px;
              border: solid 1px $grey;
              @include border-radius(50%);
              display: inline-block;
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 38px;
              margin-right: 5px;
              margin-top: -20px;
            }
          }
        }
      }
    }
  }
}