#dependencies-menu-container {
  height: 100%;
  @include span-columns(4);
  background: #f2f2f2;

  #dependencies-menu-spacer {
    @include span-columns(4 of 6);
    @include shift(1 of 6);
    max-height: 100%;
    padding: 50px 0;
    height: 100%;

    .side-menu {
      position: relative;
      background: white;
      height: 100%;
      padding-bottom: 20px;
      @include box-shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.2));
      overflow-y: auto;

      .title {
        padding: 20px 10px 50px 10px;
        font-size: 18px;
        text-align: center;
        .title-button {
          padding-top: 10px;
          button {
            font-size: 10px;
          }          
        }
        .title-form {
          padding: 0 10px;
          input {
            width: 100%;
            border-radius: 2px;
            border: solid 1px #ccc;
            outline: none;
            text-align: center;
            &:disabled {
              border: none;
              text-overflow: ellipsis;
            }
          }
        }
      }

    }
  }
}

.side-menu {
  .top-actions {
    text-align: right;
    height: 40px;
  }

  .top-menu {
    display: inline-block;
    padding: 8px 6px 0 0;
    
    $icon-height: 42px;
    img {
      width: $icon-height;
      &.settings-icon-hover {
        display: none;
      }
    }

    .menu-dropdown {
      display: none;
      position: absolute;
      top: 0;
      right: 8px;
      padding-top: $icon-height;
      text-align: left;
      ul {
        margin: 0;
        list-style: none;
        background: white;
        padding: 0;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        border: solid 1px #ddd;
        border-radius: 2px;
        font-size: 13px;
        min-width: 190px;
        li {
          border-bottom: solid 1px #ddd;
          padding: 6px 6px 12px 6px;
          cursor: pointer;
          &:hover {
            background: #fafafa;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }

    &:hover {
      img.settings-icon {
        display: none;
      }
      img.settings-icon-hover {
        display: inline-block;
      }
      .menu-dropdown {
        display: block;
      }
    }
  } 

  .cancel-top-action {
    text-align: left;
    padding: 10px 0 0 10px;
    color: #aaa;
    .cancel {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      img {
        height: 18px;
        vertical-align: sub;
      }
    }
  } 
}

.side-menu {
  .user-section {
    padding: 0 20px;
    margin-bottom: 20px;
    .user-section-title {
      border-bottom: solid 1px #ccc;
      img {
        height: 24px;
        vertical-align: text-bottom;
        float: right;
        &.user-section-add {
          cursor: pointer;
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .user {
      position: relative;
      padding: 10px 10px 10px 55px;
      &.removable,
      &.editable {
        cursor: pointer;
        &:hover {
          background: #fafafa;
        }
      }
      .user-icon {
        position: absolute;
        top: 50%;
        left: 5px;
        border: solid 1px $grey;
        @include border-radius(50%);
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 38px;
        margin-right: 5px;
        margin-top: -20px;
      }
      &.user-form {
        .user-icon {
          top: 40px;
          font-size: 20px;
        }
        label {
          color: #555;
          font-size: 12px;
          display: block;
          padding: 4px 0;
        }
        input {
          border: solid 1px #bbb;
          border-radius: 4px;
          background: none;
          outline: none;
          display: block;
          width: 100%;
          font-size: 14px;
          padding: 4px;
        }
        .type-and-doc {
          position: relative;
          select {
            position: absolute;
            top: 0;
            left: 0;
            width: 36px;
            font-size: 14px;
            height: 29px;
            display: inline-block;
            outline: none;
            border: solid 1px #ccc;
            background: none;
            -webkit-appearance:none;
            padding: 0 4px;
            text-align-last: center;
          }
          .id-spacer {
            margin-left: 40px;
          }
        }
      }
    }

    .form-actions {
      padding: 0 10px;
      text-align: right;
    }

    .inlist-add-new-user {
      cursor: pointer;
      button {
        margin: 10px 0;
      }
    }
  }

  button {
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
    outline: none;
    margin: 0;
    &.submit,
    &.primary {
      background: $dark-blue;
    }
    &.cancel {
      background: #aaa;
      margin-right: 5px;
    }
  }
}

.side-menu {
  #preview-actions {
    padding: 0 18px;
    text-align: right;
    .preview-text {
      font-size: 12px;
      padding-bottom: 4px;
      img {
        height: 16px;
        vertical-align: bottom;
      }
    }
    .actions {
      button {
        font-size: 10px;
      }
    }
  }
}