#dependencies {
  height: 100%;
  @include span-columns(8);

  #navigation-container {
    border-bottom: solid 1px $light-grey;
    @include span-columns(8 of 8);
    #navigation-content {
      @include span-columns(7 of 8);
      @include shift(1);

      #search {
        margin: 50px 0;
        #search-with-icon {
          position: relative;
          display: inline-block;
          #search-text {
            border: solid 1px $light-grey;
            border-radius: 4px;
            width: 20em;
            padding: 4px 30px 4px 4px;
            outline: none;
          }
          i {
            position: absolute;
            top: 4px;
            right: 2px;
            color: $grey;
          }
        }
      }
    }

    #separator-actions {
      @include span-columns(8 of 8);
      text-align: right;
      border-top: solid 1px $light-grey;
      #collapse-expand {
        display: inline-block;
        border-right: solid 1px $light-grey;
        margin: 6px 0;
        padding-right: 10px;
        i {
          color: $light-grey;
          font-size: 30px;
          vertical-align: middle;
          cursor: pointer;
        }
      }
      #superadmin-options {
        background: $dark-blue;
        color: white;
        margin: 5px 10px;
        border: none;
        border-radius: 4px;
        font-size: 12px;
        padding: 4px 8px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

#dependencies-menu-container {
  height: 100%;
  @include span-columns(4);
  background: #f2f2f2;

  #dependencies-menu-spacer {
    @include span-columns(4 of 6);
    @include shift(1 of 6);
    max-height: 100%;
    padding: 50px 0;
    height: 100%;

    #dependencies-menu {
      background: white;
      max-height: 100%;
    }
  }
}