#dependencies-tree {
  @include span-columns(8 of 8);

  ul {

    list-style: none;
    padding: 0;
    margin: 0;

    li.dependency {
      padding: 4px 0 4px 0;
      
      &:hover,
      &.selected {
        background: $inactive;
        cursor: pointer;
      }

      i {
        color: $dark-blue;
        font-weight: bold;
        vertical-align: bottom;
      }

      &.expanded {
        i.expanded {
          display: inline-block;
        }
        i.collapsed {
          display: none;
        }
      }

      &.collapsed {
        i.expanded {
          display: none;
        }
        i.collapsed {
          display: inline-block;
        }
      }
    }

    li.dependency.collapsed + li.children {
      display: none;
    }

    li.dependency.expanded + li.children {
      display: block;
    }
  }

  #results-list ul li {
    padding-left: 12.5%;
  }
}