#dependencies {
  height: 100%;
  @include span-columns(8);

  #navigation-container {
    border-bottom: solid 1px $light-grey;
    @include span-columns(8 of 8);
    #navigation-content {
      @include span-columns(7 of 8);
      @include shift(1);

      #search {
        margin: 50px 0;
        #search-with-icon {
          position: relative;
          display: inline-block;
          #search-text {
            border: solid 1px $light-grey;
            border-radius: 4px;
            width: 20em;
            padding: 4px 30px 4px 4px;
            outline: none;
          }
          i {
            position: absolute;
            top: 4px;
            right: 2px;
            color: $grey;
          }
        }
      }
    }

    #separator-actions {
      @include span-columns(8 of 8);
      text-align: right;
      border-top: solid 1px $light-grey;
      #collapse-expand {
        display: inline-block;
        border-right: solid 1px $light-grey;
        margin: 6px 0;
        padding-right: 10px;
        i {
          color: $light-grey;
          font-size: 30px;
          vertical-align: middle;
          cursor: pointer;
        }
      }
      #superadmin-options {
        background: $dark-blue;
        color: white;
        margin: 5px 10px;
        border: none;
        border-radius: 4px;
        font-size: 12px;
        padding: 4px 8px;
        cursor: pointer;
        outline: none;
      }
    }
  }

  #dependencies-tree {
    @include span-columns(8 of 8);
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 4px 0 4px 12.5%;
        &:hover,
        &.selected {
          background: $inactive;
          cursor: pointer;
        }
        i {
          color: $dark-blue;
          font-weight: bold;
          vertical-align: bottom;
          &.expanded {
            display: none;
          }
        }
      }
    }
  }
}

#dependencies-menu {
  height: 100%;
  @include span-columns(4);
  background: $light-grey;
}