<div class="footer-content-wrapper">
  <div class="footer-content">
    <div class="footer-section first">
      <img src="/assets/logo-ministerio.svg" class="logo-ministerio">
      <p>Sitio desarrollado por <a href="https://www.argentina.gob.ar/modernizacion">Ministerio de Modernización</a>.</p>
      <p>Los contenidos de (link) están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/legalcode">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
    </div>
    <div class="footer-section second">
      <p>
        <a href="">Decreto</a>
      </p>
      <p>
        <a href="">Acerca de</a>
      </p>
      <p>
        <a href="">Términos y condiciones</a>
      </p>
    </div>
    <div class="footer-section third">
      <p>
        <a href="">Decreto</a>
      </p>
      <p>
        <a href="">Acerca de</a>
      </p>
      <p>
        <a href="">Términos y condiciones</a>
      </p>
    </div>
  </div>
</div>