#audience-editor {
  #audience-editor-navigation {
    padding-bottom: 15px;
    border-bottom: solid 1px $grey-300;
    @include span-columns(10 of 10);
    #go-back {
      margin-bottom: 20px;
      a {
        color: $grey-300;
      }
    }
  }

  $left-column: 6;
  $right-column: 4;
  $total-columns: $left-column + $right-column;

  .editor-section,
  .editor-section-collapsed,
  .editor-section-expanded {
    @include span-columns($total-columns of $total-columns);
  }
  .left-column {
    @include span-columns($left-column of $total-columns);
  }
  .right-column {
    @include span-columns($right-column of $total-columns);
  }
  .arrow {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .editor-section {
    padding: 10px;
    border-bottom: solid 1px $grey-300;
  }

  #obligee {
    .left-column {
      color: $grey-300;
    }
  }

  #applicant, 
  #represented {
    .section-title {
      color: $blue-300;
    }
    .represented-radio-container {
      display: inline-block;
      position: relative;
      background: $grey-100;
      border: solid 1px $grey-200;
      @include border-radius(4px);
      margin-left: 15px;
      .represented-radio {
        position: absolute;
        left: -9999px;
      }
      .represented-label {
        padding: 4px 8px;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
      }
      .represented-radio:checked + .represented-label {
        background: $grey-200;
      }
    }
    .participant-card {
      padding-right: 6em;
      .edit-applicant,
      .remove-applicant {
        position: absolute;
        right: 0;
        font-size: 11px;
        width: 6em;
      }
      .edit-applicant {
        top: 2em;
      }
      .remove-applicant {
        top: 4.5em;
        background-color: $grey-300;
      }
    }
  }

  #participants {
    .section-title {
      color: $blue-300;
    }
    .participants-radio-container {
      display: inline-block;
      position: relative;
      background: $grey-100;
      border: solid 1px $grey-200;
      @include border-radius(4px);
      margin-left: 15px;
      .participants-radio {
        position: absolute;
        left: -9999px;
      }
      .participants-label {
        padding: 4px 8px;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
      }
      .participants-radio:checked + .participants-label {
        background: $grey-200;
      }
    }

  }

  #audience-main {
    .section-title {
      color: $blue-300;
      @include span-columns(10 of 10);
    }
    .left-column {
      padding-left: 25px;
      font-size: 13px;
      margin-bottom: 10px;
      p {
        margin: 0;
        &.subsection-title {
          margin-top: 10px;
          font-size: 15px;
        }
      }
      #motif {
        width: 100%;
        max-width: 100%;
        height: 5em;
        resize: none;
        margin: 5px 0;
        padding: 5px;
      }
      .invoked-interest-container {
        text-align: right;
      }
    }
    .right-column {
      padding: 0 15px;
      #address-label {
        display: block;
        margin: 5px 0;
      }
      #address {
        display: block;
        width: 100%;
        padding: 3px 8px;
      }
    }
  }

  #audience-theme {
    padding: 10px 25px;
    font-size: 13px;
    p {
      margin: 0;
      &.subsection-title {
        margin-top: 10px;
        font-size: 15px;
      }
    }
    textarea {
      width: 100%;
      max-width: 100%;
      resize: none;
      height: 6em;
      margin: 5px 0;
      padding: 5px;
    }
    .confirm-main-info-container {
      text-align: right;
    }
  }

  #audience-editor-actions {
    @include span-columns(10 of 10);
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
  }

}

#audience-editor .participant-card {
  position: relative;
  padding: 10px 10px 10px 3em;
  display: inline-block;
  font-size: 13px;
  .user-icon {
    position: absolute;
    top: 12px;
    left: 0;
  }
  .participant-name {
    font-size: 14px;
    font-weight: 500;
  }
  .participant-position {
    margin-bottom: 5px;
  }
}

#audience-editor  .person-form {
  padding: 15px 30px;
  .nationality-container {
    background: $grey-100;
    border: solid 1px $grey-200;
    @include border-radius(4px);
    display: inline-block;
    margin-bottom: 10px;
  }
  .nationality-radio {
    position: absolute;
    left: -9999px;
  }
  .nationality-label {
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
  }
  .nationality-radio:checked + .nationality-label {
    background: $grey-200;
  }

  .field-table {
    display: table;
    width: 100%;
    .row {
      display: table-row;
      width: 100%;
      .cell {
        display: table-cell;
        width: 33.3333%;
        padding: 10px 0;
        .field-label {
          font-size: 13px;
          margin-bottom: 4px;
        }
        .field-input,
        .countries-select {
          padding: 3px 8px;
          width: 85%;
        }

        .id-joint-field {
          position: relative;
          width: 85%;
          .id-type-input {
            height: 30px;
            width: 30%;
          }
          .field-input {
            width: 68%;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }

  .form-actions {
    margin-top: 10px;
    .confirm-save {
      float: right;
      margin-right: 5%;
      font-size: 13px;
    }

    .participation-label {
      &:first-of-type {
        margin-left: 20px;
      }
      margin-left: 10px;
    }  
  }
}
