#audience-editor #audience-editor-steps {
  margin: auto;
  display: table;
  text-align: center;
  $height: 40px;
  height: $height;
  .step {
    display: table-cell;
    width: 150px;
    height: 100%;
    font-size: 12px;
    max-width: 25%;
    vertical-align: middle;
    color: white;
    background: $blue-300;
    position: relative;
    $triangle-width: 20px;
    &:after {
      position: absolute;
      top: 0;
      right: -$triangle-width;
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-top: ($height / 2) solid transparent;
      border-left: $triangle-width solid $blue-300;
      border-bottom: ($height / 2) solid transparent;
    }
    padding-left: $triangle-width;

    &.incomplete {
      background: $grey-200;
      color: $grey-400;
      &:after {
        border-left-color: $grey-200;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &.inactive {
      background: $grey-100;
      color: $grey-300;
      &:after {
        border-left-color: $grey-100;
      }
      &:hover {
        cursor: default;
      }
    }

    &:nth-child(1) {
      @include border-radius(4px 0 0 4px);
      z-index: 4;
    }

    &:nth-child(2) {
      z-index: 3;
    }

    &:nth-child(3) {
      z-index: 2;
    }

    &:nth-child(4) {
      z-index: 1;
    }
  }
}
