<ul>
  <% nodes.each do |node| %>
    <li class="dependency collapsed" style='padding-left:<%= padding_left.to_s %>%' data-dependency-id="<%= node['id'] %>">
      <i class="material-icons collapsed">chevron_right</i>
      <i class="material-icons expanded">expand_more</i>
      <%= node['name'] %>
    </li>
    <% if node['children'] %>
      <li class="children">
        <%= render 'management/dependency_tree', nodes: node['children'], padding_left: padding_left + 2 %>
      </li>
    <% end %>
  <% end %>
</ul>