<div id="important-message" class="global-veil hidden">
  <div class="message-container">
    <div class="message-content">
      <div class="image-container">
        <%= image_tag 'logo-info', class: 'info hidden' %>
        <%= image_tag 'logo-pass', class: 'pass hidden' %>
        <%= image_tag 'logo-alert', class: 'alert' %>
      </div>
      <div class="text">
        <div class="main hidden"></div>
        <div class="secondary hidden"></div>
      </div>
      <div class="buttons">
        <button class="cancel">CANCELAR</button>
        <button class="confirm">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>