<div id="dependencies-menu" class="side-menu hidden">
  <div class="top-actions">
    <div class="top-menu">
      <%= image_tag 'icon-configurar', class: 'settings-icon' %>
      <%= image_tag 'icon-configurar-select', class: 'settings-icon-hover' %>
      <div class="menu-dropdown">
        <ul class="menu-dropdown-actions">
          <li id="add-sub-dependency">Agregar subdependencia</li>
          <li id="edit-dependency">Edita contenido</li>
          <li id="remove-dependency">Dar de baja</li>
          <li id="see-audiences">Ver audiencias</li>
        </ul>
      </div>
    </div>
    <div class="cancel-top-action hidden">
      <span class="cancel">
        <%= image_tag 'icon-cancelar' %>
        CANCELAR
      </span>
    </div>
  </div>
</div>
