<div id="admin-menu" class="side-menu hidden">
  <div class="top-actions">
    <div class="top-menu">
      <%= image_tag 'icon-configurar', class: 'settings-icon' %>
      <%= image_tag 'icon-configurar-select', class: 'settings-icon-hover' %>
      <div class="menu-dropdown">
        <ul class="menu-dropdown-actions">
          <li id="edit-admins">Edita contenido</li>
          <li id="remove-admin">Dar de baja</li>
          <li id="add-dependency">Agregar dependencia</li>
        </ul>
      </div>
    </div>
    <div class="cancel-top-action hidden">
      <span class="cancel">
        <%= image_tag 'icon-cancelar' %>
        CANCELAR
      </span>
    </div>
  </div>

  <div class="title">
    <div class="title-text">Supervisores del sistema</div>
  </div>

  <div class="user-section">
    <div class="user-section-title">
      Supervisores
      <%= image_tag 'logo-agregar', class: 'user-section-add' %>
    </div>
    <ul id="supervisors-list" class="user-section-list tall"></ul>
    <div id="new-admin-form" class="hidden">
      <div  class="user user-form">
        <span class="user-icon">+</span>
        <label for="new-admin-dni">Tipo y nro. de documento</label>
        <input type="text" id="new-admin-dni" placeholder="00000000">
        <label for="new-admin-name">Nombre</label>
        <input type="text" id="new-admin-name" placeholder="Nombre">
        <label for="new-admin-surname">Apellido</label>
        <input type="text" id="new-admin-surname" placeholder="Apellido">
        <label for="new-admin-email">Mail</label>
        <input type="text" id="new-admin-email" placeholder="mail@unmail.com">
      </div>
      <div id="new-admin-actions">
        <button id="submit-new-admin" class="submit">GUARDAR</button>
      </div>
    </div>
  </div>
</div>
