<div id="dependencies-menu-spacer">
  <div id="dependencies-menu" class="side-menu hidden">
  </div>
  <div id="admin-menu" class="side-menu hidden">
    <div class="top-menu">
      <%= image_tag 'icon-configurar', class: 'settings-icon' %>
      <%= image_tag 'icon-configurar-select', class: 'settings-icon-hover' %>
      <div class="menu-dropdown">
        <ul class="menu-dropdown-actions">
          <li>Edita contenido</li>
          <li>Dar de baja</li>
          <li>Agregar dependencia</li>
        </ul>
      </div>
    </div>

    <div class="title">
      <div class="title-text">Supervisores del sistema</div>
    </div>

    <div class="user-section">
    </div>
  </div>
</div>