<div id="dependencies">

  <div id="navigation-container">
    <div id="navigation-content">

      <div id="search">
        <div id="search-with-icon">
          <input type="text" id="search-text" placeholder="Buscar por palabra clave">
          <i class="material-icons">search</i>
        </div>
      </div>
    </div>
    <div id="separator-actions">
      <div id="collapse-expand">
        <i class="material-icons" id="expand-all">view_module</i>
        <i class="material-icons" id="collapse-all">view_stream</i>
      </div>
      <button id="superadmin-options">SUPERVISORES</button>
    </div>
  </div>

  <div id="dependencies-tree">
    <%= render 'management/dependency_tree', nodes: Dependency.tree, padding_left: 12.5 %>
  </div>
</div>
<div id="dependencies-menu">
</div>


<%= javascript_tag do %>
  $(function() {
    new AdminLanding;
  });
<% end %>