<div id="dependencies">

  <div id="navigation-container">
    <div id="navigation-content">

      <div id="search">
        <input type="text" id="search-text" placeholder="Buscar por palabra clave">
        <button id="search-button">Buscar</button>
      </div>
      
      <div id="collapse-expand">
        <button>DESPLEGAR TODO</button>
        <button>COLAPSAR TODO</button>
      </div>

    </div>
  </div>

  <div id="dependencies-tree">
  </div>
</div>
<div id="dependencies-menu">
</div>