<div id="password-reset-position-origin">

  <div id="password-reset-background">
    <div id="password-reset-title">
      <h1>Registro Único de Audiencias de Gestión de Intereses del Poder Ejecutivo Nacional</h1>
    </div>
  </div>

  <div id="password-reset-card">
    
  </div>

</div>