<div id="login-position-origin">

  <div id="login-background">
    <div id="login-title">
      <h1>Registro Único de Audiencias<br>de Gestión de Intereses</h1>
    </div>
  </div>

  <div id="login-card">
    <label for="person-id">Número de documento</label>
    <div class="type-and-doc">
      <select id="id-type">
        <option value="dni">DNI</option>
        <option value="lc">LC</option>
        <option value="le">LE</option>
      </select>
      <input type="text" id="person-id" placeholder="Introduce tu número de documento" autofocus>
    </div>

    <label for="password">Contraseña</label>
    <input type="password" id="password" placeholder="Introduce tu contraseña">

    <div id="remember-me-container">
      <div id="message"></div>
      <input type="checkbox" id="remember-me" checked>
      <label for="remember-me">
        <img src="/assets/icon-check.svg" id="checked">
        <img src="/assets/icon-check-no.svg" id="unchecked" class="hidden">
        Recordarme
      </label>
    </div>

    <div id="submit-container">
      <button type="primary" id="submit">INGRESAR</button>
    </div>


    <div id="forgot-password">
      <a href="/resetear_credenciales">Olvidé mi contraseña</a>
    </div>
  </div>

</div>