#intranet-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 100;
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  color: #767676;
  padding-right: 8.3333%;
}

#external-footer {
  @include box-shadow($footer-shadow);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: white;
  height: $footer-height;

  .footer-content-wrapper {
    @include outer-container();

    .footer-content {
      @include span-columns(10 of 12);
      @include shift(1);
      padding: 20px 0;

      .footer-section.first {
        @include span-columns(5 of 12);
        .logo-ministerio {
          width: 240px;
          height: 72px;
        }
        p {
          margin: 0;
          font-size: 13px;
        }
      }      

      .footer-section.second {
        @include span-columns(3 of 12);
        @include shift(1);
      } 

      .footer-section.third {
        @include span-columns(3 of 12);

        font-size: 12px;

        .social-links {
          font-size: 20px;
          i {
            margin-right: 10px;
          }
        }

      }
    }
  }  
}