#intranet-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 100;
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  color: #767676;
  padding-right: 8.3333%;
}