<% if(userFound && !tokenExpired) {  %>
  <div class="password-reset-description">
    <p>
      Ingrese una nueva contraseña para su usuario.
    </p>
    <label for="password">Nueva contraseña</label>
    <input type="password" id="password">
    <label for="password-confirm">Confirme su contraseña</label>
    <input type="password" id="password-confirm">
  </div>
  <div id="submit-container">
    <button type="primary" id="submit-password">ACTUALIZAR CONTRASEÑA</button>
  </div>
<% } else if (userFound) { %>
  <div id="token-expired">
    <div class="vertical-text">
      <p>
        Ha expirado el tiempo permitido para cambiar su contraseña. 
      </p>
      <p>
        Solicite un nuevo cambio <a href="/resetear_credenciales">aqui.</a>
      </p>
    </div>
  </div>
<% } else { %>
  <div id="token-not-found">
    <div class="vertical-text">
      <p>
        No se ha encontrado el usuario
      </p>
    </div>
  </div>
<% } %>
