<div id="header-container">
  <div id="header-content">
    <% if (window.Audiencias.App.user)  { %>
    <% } else { %>
      <div class="both-logos">
        <img src="/assets/logo-ministerio.svg" id="logo-ministerio">
        <img src="/assets/logo-subsecretaria.svg" id="logo-subsecretaria">
      </div>
    <% } %>
  </div>
</div>  
