<% var currentUser = window.audiencias.globals.users.currentUser(); %>
<div id="header-shadow">
  <div id="header-container">
    <div id="header-content">
      <% if (currentUser)  { %>
        <div id="main-logo">
          <a href="/">
            <img src="/assets/logo-ministerio-producto.svg" id="logo-ministerio">
          </a>  
        </div>
        <div id="user-header">
          <% var name = currentUser.get('name'); %>
          <% var role = currentUser.get('role') %>
          <span class="user-icon <%= role %>"><%= audiencias.helpers.initials(name) %></span> 
          <span id="user-header-name"><%= name %></span>
          <img src="/assets/icon-flecha-abajo-usuario.svg" id="user-header-icon">
        </div>
      <% } else { %>
        <div class="both-logos">
          <a href="/">
            <img src="/assets/logo-ministerio.svg" id="logo-ministerio">
          </a>
          <a target="_blank" href="http://www.mininterior.gob.ar/asuntospoliticos/reformainstitucional.php"> <img src="/assets/logo-subsecretaria.svg" id="logo-subsecretaria"> </a>
        </div>
      <% } %>
    </div>
  </div>  
</div>

<div id="user-menu-container">
  <div id="user-menu">
    <% if (currentUser) { %>
      <% var location = window.location.pathname %>
      <% var role = currentUser.get('role') %>
      <% var obligees = currentUser.get('obligees') %>
      <% if ((role == 'admin' || role == 'superadmin') && location != '/intranet/dependencias') { %> 
        <a href="/intranet/dependencias">
          <div class="user-menu-action" id="profile">
            Perfil <span>ADMINISTRADOR</span>
          </div>
        </a>
      <% } %> 
      <% if (obligees.length > 0 && location.substr(0, 20) != '/intranet/audiencias') { %>
        <a href="/intranet/audiencias">
          <div class="user-menu-action" id="profile">
            Perfil <span>OPERADOR</span>
          </div>
        </a>
      <% } %>
    <% } %>

    <a href="/intranet/configuracion">
      <div class="user-menu-action" id="settings">
        Configuración
      </div>
    </a>

    <a href="/intranet/ayuda">
      <div class="user-menu-action" id="help">
        Ayuda
      </div>
    </a>

    <a href="/intranet/acerca_de">
      <div class="user-menu-action" id="about">
        Acerca de
      </div>
    </a>

    <a href="/salir">
      <div class="user-menu-action" id="logout">
        Cerrar sesión
      </div>
    </a>
  </div>
</div>