<div id="header-shadow">
  <div id="header-container">
    <div id="header-content">
      <% if (window.audiencias.globals.currentUser)  { %>
        <div id="main-logo">
          <a href="/">
            <img src="/assets/logo-ministerio.svg" id="logo-ministerio">
          </a>  
        </div>
        <div id="user-header">
          <% var name = window.audiencias.globals.currentUser.name; %>
          <% var surname = window.audiencias.globals.currentUser.surname; %>
          <% var role = window.audiencias.globals.currentUser.role %>
          <span class="user-icon <%= role %>"><%= name[0] + surname[0] %></span> 
          <span id="user-header-name"><%= name %> <%= surname %></span>
          <img src="/assets/icon-flecha-abajo-usuario.svg" id="user-header-icon">
        </div>
      <% } else { %>
        <div class="both-logos">
          <a href="/">
            <img src="/assets/logo-ministerio.svg" id="logo-ministerio">
          </a>
          <img src="/assets/logo-subsecretaria.svg" id="logo-subsecretaria">
        </div>
      <% } %>
    </div>
  </div>  
</div>

<div id="user-menu-container">
  <div id="user-menu">
    <div class="user-menu-action" id="profile">
      Perfil
    </div>
    <div class="user-menu-action" id="settings">
      Configuración
    </div>
    <div class="user-menu-action" id="help">
      Ayuda
    </div>
    <div class="user-menu-action" id="logout">
      Cerrar sesión
    </div>
  </div>
</div>