*, *::after, *::before {
 -moz-box-sizing: inherit;
 box-sizing: inherit;
 }

.label-not-active{
	font-size: 0.8em;
	color: #cccccc;
	font-style:italic;
}

.sintys-error{
	width: 16em;
	position: absolute; 
	bottom: -1.5em;
	color:#d9534f;
	font-size: 0.8em; 
	display: none;
 }

@media screen and (max-width: 1450px) {
    .sintys-error {
     bottom: -2.6em!important;
  }
}

#searcher .search-content .search-title {
	margin-top: 30px;
}




@media print {

.single-audience-container {background:white; /**padding-top:-6px;**/ position:fixed; top:-80px; z-index:99; }

.full-result .vertical-spacer {background:white; vertical-align:top!important}

.user-menu,.subheader-container, .search-form, #user-header-icon, #results .results-content .person-role-filter {display:none;}

#results .results-content .results-container{width:100%;}

.search-title{display:block; color:black;}

body
{
  margin-bottom: 10px;
}

#header { position: absolute;}


#results .results-content .facets-container {display:none!important}

    #external-footer .footer-content-wrapper .footer-content .footer-section.first { display: none; }
	#external-footer .footer-content-wrapper .footer-content .footer-section.second { display: none; }
	#external-footer .footer-content-wrapper .footer-content .footer-section.third { width: 100%; }

/**

.full-result .vertical-spacer {vertical-align:top!important}

	#header { position: absolute;}
	#results {display: none;}
	.single-audience {display:block!important;}

   .subheader-container { display: none; }
	#searcher .search-form { display: none; }
	#searcher .search-container { display:none; }
	#shortcuts .shortcuts-table .dependencies-navigation { display: none; }


	
**/
}

