$header-height: 60px;

header.header-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  @include box-shadow(black 0px 0px 5px);
  z-index: 10;
  height: $header-height;

  .header-content {
    @include outer-container; 
    padding: 0 15px;

    .logo-ministerio {
      @include span-columns(6);
      img {
        height: $header-height;
        display: block;
      }
    }

    .user-menu {
      @include span-columns(6);
      text-align: right;
      font-size: 18px;
      line-height: $header-height;
      color: $grey;

      .user-icon {
        border: solid 2px $grey;
        @include border-radius(50%);
        display: inline-block;
        width: 2em;
        height: 2em;
        vertical-align: middle;
        text-align: center;
        line-height: 1.7em;
      }

      .user-dropdown-menu {
        i {
          font-size: 2em;
          vertical-align: middle;
          cursor: pointer;
        }
      }
    }
  }
}