$header-height: 70px;

header.header-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  @include box-shadow(black 0px 0px 5px);
  z-index: 10;

  .main-header {
    @include outer-container; 

    .header-content {
      @include span-columns(10);
      @include shift(1);
      height: $header-height;

      img.logo-ministerio {
        height: 100%;
      }
    }
  }
}