div.login-background {
  position: fixed;
  background: #e8e8e8;
  width: 100%;
  height: 400px;;
  left: 0;
  top: 0;
}

div.login-container {
  @include span-columns(8);
  @include shift(2);
  position: relative;

  h1 {
    margin: 60px 0 40px 0;
    color: $dark-blue;
    text-align: center;
  }

  .login-card {
    @include span-columns(6);
    @include shift(3);
    border: solid 1px $light-grey;
    @include border-radius(4px);
    padding: 40px;
    background: white;

    label {
      font-size: 12px;
      color: $grey;
    }

    label[for="password"],
    label[for="dni"] {
      display: block;
    }

    input#password, 
    input#dni {
      width: 100%;
      font-size: 15px;
      margin: 6px 0 12px 0;
      padding: 8px;
      border: solid 1px #ccc;
      @include border-radius(4px);
    }

    .remember-me {
      text-align: right;
      input, label {
        cursor: pointer;
      }
    }

    .submit {
      text-align: center;
      input[type="submit"] {
        border: solid 1px transparent;
        @include border-radius(4px);
        background: $dark-blue;
        color: white;
        font-size: 12px;
        font-weight: 400;
        padding: 8px 12px;
        cursor: pointer;
      }
    }

    .message {
      font-size: 12px;
      color: $grey;
      margin: 12px 0;
    }

    .password-reset-description {
      font-size: 14px;
    }
  }

  .forgot-password {
    @include span-columns(12);
    text-align: center;
    margin-top: 30px;
    a {
      color: $dark-blue;
      font-weight: 500;
    }
  }
}