@import 'app/globals/colors';
@import 'bourbon';
@import "compass";

body {
  text-align: center;
  color: $grey-500;
}

.mail-container {
  border: solid 1px $grey-300;
  border-top: none;
  font-family: 'Arial', 'Verdana', 'Tahoma', sans-serif;
  width: 650px;
  display: inline-block;
  text-align: left;

  .header-container {
    .header-img {
      width: 100%; 
      display: block;
    }
  }
  
  .footer-container {
    border-top: solid 1px $grey-300;
    .footer-img {
      width: 100%;
      display: block;
    }
  }
  .main {
    background: $grey-100;
    padding: 0 7% 7% 7%;
    .text-shadow {
      background: white;
      padding: 5%;
      border: solid 1px $grey-300;
    }
  }
}

.main {
  font-size: 16px;

  p {
    margin: 15px 0;
  }
  .greeting {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  a {
    color: $blue-200;
    font-weight: bold;
    text-decoration: none;
  }  

  .bottom-text {
    font-weight: bold;
    margin-top: 40px;
    font-size: 11px;
  }
  .contact-info {
    margin-bottom: 0;
  }
}
