.error-layout {
  color: white;
  text-align: center;
  display: table!important;

  &.background-blue {
    background: $blue-500;
  }
  
  .error-align {
    display: table-cell;
    vertical-align: middle;
  }

  .error-content {
    display: inline-block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;

    &.not-found {
      background-image: url('/assets/404.svg');
      width: 800px;
      height: 533px;
    }

    &.forbidden {
      background-image: url('/assets/403.svg');
      width: 600px;
      height: 725px;
    }

    &.internal-server-error {
      background-image: url('/assets/500.svg');
      width: 600px;
      height: 640px; 
    }

    .go-back-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }

    button {
      font-size: 14px;
      margin-top: 20px;
      padding: 6px 12px;
    }
  }
}