<div id="user-help-container">
  <div id="user-help-content">
    <div class="title">Ayuda</div>
	
	<div style="width: 600px; margin: auto; padding: 20px;"><iframe width="560" height="315" src="https://www.youtube.com/embed/GmgNE-fHGX4" frameborder="0" allowfullscreen></iframe></div>
	
    <h2>Ingreso al sistema por primera vez</h2>
      <p>Para cargar audiencias en el nuevo Registro, debe ingresar en <a href="http://audiencias.mininterior.gob.ar/intranet">http://audiencias.mininterior.gob.ar/intranet</a>,  identificarse con su DNI y contraseña. La contraseña con la que Usted ingresaba al sistema anterior ha sido reseteada, por lo que, de no poder ingresar por falta de clave, vaya a <a href="http://audiencias.mininterior.gob.ar/resetear_credenciales" target="_blank">"Olvidé mi contraseña"</a> para agregar una contraseña nueva con la que poder ingresar.</p>

	  <h2>Cargar una audiencia</h2>
      <p>Una vez dentro del sistema, se encontrará con una pantalla donde figuran todas las audiencias cargadas (publicadas o en proceso de publicación) del sujeto o los sujetos obligados de los que Usted es perador. En caso de de ser operador de más de un sujeto obligado, para cargar una nueva audiencia, debe seleccionar sobre cuál va a registrar la audiencia y presionar el botón “Cargar audiencias”.</p>

      <p>En los pasos siguientes debe completar todos los datos requeridos.</p> 
	  
	  <p>Datos del solicitante, si es Argentino:</p>

      <ul>
          <li>DNI</li>
		  <li>Nombre Completo (se completa automáticamente y no puede modificarse dado que el sistema está conectado con SINTyS, chequee que el DNI suministrado corresponda con el Nombre que aparece en el sistema)</li>
          <li>Ocupación</li>
          <li>Dirección de e-mail</li>
          <li>Teléfono</li>
          <li>Si el solicitante participó o no de la audiencia</li>
      </ul>
      
	   <p>Si el solicitante es extranjero:</p>
	   
	   <ul>
          <li>País</li>
		  <li>ID (preferentemente el pasaporte)</li>
		  <li>Nombre Completo (no se autocompleta)</li>
          <li>Ocupación</li>
          <li>Dirección de e-mail</li>
          <li>Teléfono</li>
          <li>Si el solicitante participó o no de la audiencia</li>
      </ul>
	  
	  <p>En el caso de que el solicitante asista en representación de una persona física o jurídica, un organismo estatal o un grupo de personas (un colectivo sin personería jurídica) se deberá completar los siguientes campos sobre el Representado:</p>
      <ul>
         <li>DNI/CUIT/ID (si es extranjero)</li>
          <li>Nombre</li>
          <li>Ocupación</li>
          <li>Mail</li>
      </ul>
      

	<p>En caso de que hayan participado otras personas de la audiencia debe indicar, si es Argentino:</p>
      <ul>
         <li>DNI</li>
		 <li>Nombre Completo (se autocompleta a partir del DNI, chequee que el DNI suministrado corresponda con el Nombre que aparece en el sistema)</li>
         <li>Ocupación</li>
      </ul>
       
	   <p>O si es extranjero:</p>
	   <ul>
          <li>País</li>
		  <li>ID (preferentemente el pasaporte)</li>
		  <li>Nombre Completo (no se autocompleta)</li>
          <li>Ocupación</li>
		  </ul>

		  <p>Si esta información está completa, el sistema le permitirá pasar a la próxima pantalla, presionando el botón "Siguiente". En sado de estar faltando información requerida, el sistema marcará en rojo los datos faltantes. 
		  
	 <p>Al pasar a la siguiente pantalla, deberá completar los datos relacionados a Audiencia de gestión de intereses en sí misma:</p>
       <ul>
         <li>Lugar -ej, "despacho", "sala de reuniones del ministerio", "bar"-</li>
         <li>Dirección -ej, "Juan B. Justo 2020, Ciudad Autónoma de Buenos Aires"- geolocalizable con GoogleMaps.</li>
         <li>Fecha y Hora (nunca puede ser posterior a la fecha de carga dado que solo se cargan Audiencias *realizadas*)</li>
         <li>Motivo</li>
         <li>Interés invocado</li>
         <li>Síntesis</li>
        </ul>
        
        <p>Finalmente podrá previsualizar la audiencia y tendrá las opción de “Modificar”, “Dejar en proceso” o “Publicar”. Recuerde que una vez que una audiencia se publica, no puede ser modificada y queda automáticamente disponible para el público.</p>

		 <h2>Dudas o preguntas?</h2>
      <p>Por favor comuníquese con la Subsecretaría de Reforma Institucional y Fortalecimiento de la Democracia: </p>
      <ul>
       <li> <a target="_blank" href="mailto:registroaudiencias@mininterior.gob.ar">registroaudiencias@mininterior.gob.ar</a></li>
       <li> (011) 4339-0800 interno 71613</li>
      </ul>
	  
  </div>
</div>