<div class="password-reset-description">
  <p>
    Ingrese su tipo y numero de documento y se le enviara un mail con instrucciones para reestablecer su contraseña.
  </p>
  <p>
    En caso de no usar el mismo mail o que no le lleguen las instrucciones, comunicarse con su respectivo administrador.
  </p>

  <div class="type-and-doc">
    <select id="id-type">
      <option value="dni">DNI</option>
      <option value="lc">LC</option>
      <option value="le">LE</option>
    </select>
    <input type="text" id="id" placeholder="Introduzca su nro de documento" autofocus>
  </div>
</div>
<div id="submit-container">
  <button type="primary" id="submit-email">ENVIAR EMAIL</button>
</div>