<div class="facet-section date-container">
  <div class="facet-title">Fecha</div>
  <div class="dates">
    <div class="table">
      <div class="table-cell date-input">
        <input type="text" placeholder="Desde" id="filter-date-from">
      </div>
      <div class="table-cell date-input">
        <input type="text" placeholder="Hasta" id="filter-date-to">
      </div>
      <button id="apply-new-date">APLICAR</button>  
    </div>
  </div>
</div>
