<div class="facet-section download-container">
  <div class="title">DESCARGAR</div>
  <p class="download-description">Descargá la búsqueda que realizaste en cualquiera de estos formatos.</p>

  <% 
  var filename_base;
  if (audiencias.globals.results.options.historico) {
    filename_base = 'audiencias_historicas';
  } else {
    filename_base = 'audiencias';
  } 
  %>
  <a href="<%= linkCreator({pagina: null, historico: null}, filename_base + '.csv') %>">
    <div class="download download-csv">
      <img class="main-img" src="/assets/icon-formato-csv.svg">
      <img class="hover-img" src="/assets/icon-formato-csv-hover.svg">
    </div>
  </a>

  <a href="<%= linkCreator({pagina: null, historico: null}, filename_base + '.json') %>">
    <div class="download download-json">
      <img class="main-img" src="/assets/icon-formato-json.svg">
      <img class="hover-img" src="/assets/icon-formato-json-hover.svg">
    </div>
  </a>

  <a href="<%= linkCreator({pagina: null, historico: null}, filename_base + '.xlsx') %>">
    <div class="download download-xlsx">
      <img class="main-img" src="/assets/icon-formato-xlsx.svg">
      <img class="hover-img" src="/assets/icon-formato-xlsx-hover.svg">
    </div>
  </a>
    
  </div>
</div>
