<div class="facet-section download-container">
  <div class="facet-title">DESCARGAR</div>
  <p class="download-description">Descargá tu búsqueda en cualquiera de estos formatos.</p>

  <div class="download download-csv"></div>
  <div class="download download-json"></div>
  <div class="download download-xlsx"></div>
    
  </div>
</div>
