<div class="with-external-footer">


  <div class="search-container">
    <div class="search-background-filter">
    </div>
  </div>

  <div class="static-section">
    <div class="static-content">
      <div class="path">
        <a href="/">Inicio</a> / ¿Cómo funciona?
      </div>

      <h1>¿Cómo funciona?</h1>
    
    <div style="width: 800px; margin: auto; padding: 20px;"><iframe width="760" height="428" src="https://www.youtube.com/embed/_FCjczy_YUk?rel=0" frameborder="0" allowfullscreen></iframe></div>

      <h2>Búsqueda por palabras clave</h2>
      <p>En la <a href="http://audiencias.mininterior.gob.ar">página de incio</a> del Registro de Audiencias se visualiza un cuadro de texto para ingresar las palabras por las que desees encontrar audiencias realizadas. Esta búsqueda se genera en todo el sistema, en todos los campos (Funcionarios -"sujetos obligados"-, Solicitantes de audiencias, Representados, Motivo, Síntesis de la audiencia, etc.). Para realizar una búsqueda más acotada, pueden utilizarse los 5 filtros que aparecen haciendo clic en <i> ">Personalizá tu búsqueda"</i>, debajo del cuadro de texto.</p>
    
    <p>Ingresada la palabra o palabras buscadas, el sistema arroja los resultados encontrados en dos solapas. La primera, en la que se ven los resultados buscados del sistema actual, y la segunda solapa donde se visualizan los resultados del sistema anterior. Por razones de compatibilidad tecnológica estos resultados se muestran desagregados, pero pueden todos ser navegados y descargados.
    
    En la solapa "Sistema Actual" a la izquierda, se muestran opciones de filtros y navegación avanzada de la información encontrada en el sistema actual que pueden ayudar a mejorar la búsqueda.</p>
      </p>Las audiencias se filtran por:</p>
      <ul>
      <li>Fecha,</li>
      <li>Persona física,</li>
      <li>Entidad pública/privada,</li>
      <li>Dependencia,</li>
      <li>Motivo,</li>
      <li>Síntesis de la audiencia.</li>
      </ul>
    
    
     <p>La búsqueda de Persona física además permite filtrar por el rol de la persona buscada:</p>
     <ul>
      <li>Sujeto obligado,</li>
      <li>Solicitante,</li>
      <li>Participante,</li>
      <li>Representado.</li>
     </ul>
   
   <p>En la solapa "Sistema Anterior" las audiencias resultantes de la búsqueda realizada solo pueden filtrarse por fecha.</p>

   <h2>Búsqueda por atajos</h2>
      
     <p>Otra forma de navegar el registro es a través de los atajos que se encuentran en la página de inicio:
     <ul>
      <li>Estructura del Poder Ejecutivo Nacional,</li>
      <li>Quiénes han concedido audiencias,</li>
      <li>Quiénes han pedido audiencias.</li>
     </ul>
     Haciendo clic en cualquiera de las tres columnas, o sus resultados, se accede al listado completo donde puede realizarse una búsqueda más detallada.<br><br>
   
   <H2>Descarga, consumo y renvío de Búsquedas</H2>
     <p>Una vez obtenidos los resultados esperados, es posible descargar los datos en 3 formatos:</p>
     <ul>
     <li>.csv</li>
     <li>.json</li>
     <li>.xlsx</li>
     </ul> 
   
   <p>Asimismo, los resultados obtenidos generan URLs únicas que permiten compartir la búsqueda con solo copiar el link y/o ser consumidas por otros sistemas.</p>
   
   <h2>Dudas, preguntas o sugerencias?</h2>
      <p>Comunicate con la Subsecretaría de Reforma Institucional y Fortalecimiento de la Democracia: </p>
      <ul>
       <li> <a target="_blank" href="mailto:registroaudiencias@mininterior.gob.ar">registroaudiencias@mininterior.gob.ar</a></li>
       <li> (011) 4339-0800 interno 71613</li>
      </ul>
    
    </div>
  </div>

</div>