<div class="with-external-footer">
  <div class="search-container">
    <div class="search-background-filter">
    
      <div class="search-content">
        <div class="search-title">
          Registro Único de Audiencias de Gestión de Intereses del Poder Ejecutivo Nacional
        </div>
        <div class="search-subtitle">
          Enunciado que invite a buscar por diferentes tipos, persona física, estructura o motivo de la audiencia
        </div>

        <div class="search-form">
          <div class="search-old-container">
            <input type="checkbox" id="search-old">
            <label for="search-old">Buscar en registros históricos</label>
          </div>

          <div class="search-input table">
            <div class="table-cell search-text-container">
              <input type="text" placeholder="Introduzca su busqueda">
            </div>
            <div class="table-cell search-type-container">
              <select>
                <option disabled="disabled">Seleccionar tipo</option>
                <option>Texto libre</option>
                <option>Persona</option>
                <option>Dependencia</option>
              </select>
            </div>
            <div class="table-cell search-button-container">
              <button class="green">BUSCAR</button>
            </div>
          </div>
          
        </div>
      </div>  
    
    </div>
  </div>
</div>