<div class="dependencies-navigation">
  <span class="expand-all toggle-dependencies">DESPLEGAR TODO</span>
  <span class="collapse-all toggle-dependencies hidden">AGRUPAR TODO</span>
  <div class="dependencies-search">
    <input type="text" placeholder="Buscar por palabra clave" class="dependency-input-search">
    <img src="/assets/icon-search.svg" class="search-icon">
  </div>
</div>
<div class="shortcuts-table">
  
</div>