<% var aggregations = audiencias.globals.aggregations %>

<div class="shortcuts-content">
  <div class="shortcuts-column shortcuts-dependencies">
    <a href="/navegar/pen">
      <div class="shortcuts-title">Estructura del Poder Ejecutivo Nacional</div>
    </a>
    <div class="shortcuts-table">
      <% var dependencies = aggregations._dependency.ids.buckets; %>
      <% for (var i=0; i<Math.min(dependencies.length, 10); i++) { %>
      <a href="<%= linkCreator({ pen: dependencies[i].key }) %>">
        <div class="shortcut-row">
          <div class="shortcut-name ellipsis">
              <%= dependencies[i].name.buckets[0].key %>
          </div>
          <div class="shortcut-value">
            <%= dependencies[i].doc_count %>
          </div>
        </div>
      </a>
    <% } %>
    </div>
  </div>
  <div class="shortcuts-column shortcuts-obligees">
    <a href="/navegar/sujetos_obligados">
      <div class="shortcuts-title">Sujetos obligados que han concedido audiencias</div>
    </a>
    <div class="shortcuts-table">
    </div>
  </div>
  <div class="shortcuts-column shortcuts-applicants">
    <a href="/navegar/solicitantes_de_audiencias">
      <div class="shortcuts-title">Audiencias pedidas por</div>
    </a>
    <div class="shortcuts-table">
    </div>
  </div>
</div>