<div class="dependencies-navigation">
  <img src="/assets/icon-desplegar.svg" class="expand-all toggle-dependencies">
  <img src="/assets/icon-colapsar.svg" class="collapse-all toggle-dependencies hidden">
  <div class="dependencies-search">
    <input type="text" placeholder="Buscar por palabra clave">
    <img src="/assets/icon-search.svg" class="search-icon">
  </div>
</div>