<div class="subheader-content">
  <div class="subheader-links">

 
   <a href="/buscar">
      <div class="subheader-link">
      <img src="/assets/icon-search-blanco.svg" id="search-icon">
      </div>
    </a>
  <!--   <a href="/decreto">
      <div class="subheader-link">
        DECRETO
      </div>
    </a>
  -->  
  
    <a href="/acerca_de">
      <div class="subheader-link">
        ACERCA DE
      </div>
    </a>
    <a href="/como_funciona">
      <div class="subheader-link">
        ¿CÓMO FUNCIONA?
      </div>
    </a>
  
  </div>
</div>
