#searcher {
  .search-background-filter {
    background-color: $blue-800;
  }
  .search-container {
    background-image: url('/assets/background3.jpg');
    background-size: cover;
    background-position: center top;
    color: white;
  }

  .search-content {
    @include outer-container();
    padding-top: 20px;

    .table {
      display: table;
    }

    .table-row {
      display: table-row;
    }

    .table-cell {
      display: table-cell;
    }  

    .search-title {
      width: 700px;
      margin: auto;
      text-align: center;
      font-size: 35px;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .search-subtitle {
      width: 600px;
      margin: auto;
      font-size: 13px;
      text-align: justify;
      text-align-last: justify;
      font-weight: 300;
    }

  }
}