#searcher .shortcuts {
  @include outer-container();
  padding: 20px 0;

  .shortcuts-content {
    @include span-columns(10);
    @include shift(1);

    .shortcuts-column {
      @include span-columns(1 of 3);
      padding: 0 6px;

      .shortcuts-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: $blue-300;
        color: white;
        padding: 8px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }

      .shortcuts-table {
        font-size: 13px;

        .shortcut-row {
          padding-right: 40px;
          position: relative;
          &:hover {
            background: $grey-200;
          }
        }

        .ellipsis {
          width: 1px;
          min-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 4px 15px 4px 4px;
        }

        .shortcut-value {
          display: inline-block;
          background: $grey-400;
          color: white;
          font-size: 11px;
          padding: 0 5px;
          border-radius: 10px;
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }
    }
  }
}

#shortcuts {
  .shortcuts-table {
    .shortcut-row {
      position: relative;
      padding: 5px 50px 5px 5px;
      &:hover {
        background: $grey-200;
      }
      .shortcut-value {
        display: inline-block;
        background: $grey-400;
        color: white;
        font-size: 13px;
        padding: 0 5px;
        border-radius: 10px;
        position: absolute;
        right: 5px;
        top: 5px;
      }
      .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}