<div class="list-container nano">
  <div class="nano-content">
    <div id="dependencies-tree">
      <% var currentUser = audiencias.globals.users.currentUser() %>
      <% var showNewDependency = mode == 'tree' && currentUser && currentUser.get('role') == 'superadmin' %>
      <div class="new-dependency <%= showNewDependency ? '' : 'hidden' %>">
        <span class="dependency-name">
          <img src="/assets/logo-agregar-azul.svg">
          Agregar dependencia
        </span>
      </div>
    </div>
    <div id="dependencies-results"></div>
  </div>
</div>
