<div id="dependencies-search">
  <div id="search-and-icon">
    <input type="text" id="dependencies-search-input" placeholder="Buscar por palabra clave">
    <img src="/assets/icon-search.svg" id="search-icon">
  </div>
</div>
<div id="navigation-actions">
  <div id="tree-actions">
    <img src="/assets/icon-desplegar.svg" id="expand-all">
    <img src="/assets/icon-colapsar.svg" id="collapse-all" class="hidden">
  </div>
  <% var currentUser = audiencias.globals.users.currentUser(); %>
  <% if (currentUser && currentUser.get('role') == 'superadmin') { %>
  <div id="vertical-line-spacer">
    <button id="supervisor-menu-button">SUPERVISORES</button>
  </div>
  <% } %>
</div>