<% if (results.length > 0) { %>
  <% for (var i=0; i<results.length; i++) { %>
    <% var result = results[i]; %>
    <% var selectedClass = result.get('selected') ? 'selected' : ''; %>
    <div class="dependency collapsed <%= selectedClass %>" data-dependency-id="<%= result.get('id') %>">
      <span class="dependency-name">
        <img src="/assets/icon-marcador-derecha.svg">
        <%= result.get('name') %> 
        <% if (result.get('obligee')) { %>
          <span class="obligee-name">
            | <%= result.get('obligee').person.name %>
          </span>
        <% } %>
      <span>
    </div>
  <% } %>
<% } else { %>
  <div class="no-results">
    <span class="dependency-name">
      No hay resultados para la busqueda
    </span>
  </div>
<% }  %>