<% for (var i=0; i<results.length; i++) { %>
  <div class="dependency collapsed" data-dependency-id="<%= results[i].id %>">
    <img src="/assets/icon-marcador-derecha.svg" class="collapsed">
    <img src="/assets/icon-marcador-abajo.svg" class="expanded">
    <%= results[i].name %>
  </div>
<% } %>