<% for (var i=0; i<nodes.length; i++) { %>
  <div class="dependency collapsed" style="padding-left:<%= padding %>%" data-dependency-id="<%= nodes[i].id %>">
    <img src="/assets/icon-marcador-derecha.svg" class="collapsed">
    <img src="/assets/icon-marcador-abajo.svg" class="expanded">
    <%= nodes[i].name %>
  </div>
  <% var children = nodes[i].children; %>
  <% if (children && children.length > 0) { %>
    <div class="children">
      <%= template({ nodes: children, padding: padding + 2, template: template}) %>
    </div>
  <% } %>
<% } %>

