<div id="audience-editor-container">
  
  <div id="audience-editor-navigation">
    <div id="go-back">
      <a href="/intranet/audiencias/<%= audiencias.globals.currentObligee %>">
        VOLVER
      </a>
    </div>

    <div id="steps-container">
      <div id="audience-editor-steps">
        <div class="step">
          SUJETO OBLIGADO
        </div>
        <div class="step">
          SOLICITANTE
        </div>
        <div class="step incomplete">
          AUDIENCIA
        </div>
        <div class="step inactive">
          PREVISUALIZACIÓN
        </div>
      </div>
    </div>
  </div>

</div>
