$super-admin: #26426b;
$admin: #26426b;
$obligee: #4272b4;
$operator: #68b7ee;

$red: #d9534f;
$green: #46a948;
$orange: #f0ad4e;
$pink: #f9d0d0;

$blue-100: #d0e8f9;
$blue-200: #68b7ee;
$blue-300: #4272b4;
$blue-400: #4071b7;
$blue-500: #26426b;

$grey-100: #fafafa;
$grey-200: #e5e5e5;
$grey-300: #cccccc;
$grey-400: #767676;
$grey-500: #5a5b5b;
