$super-admin: #26426b;
$admin: #26426b;
$obligee: #4272b4;
$operator: #68b7ee;

$red: #d9534f;
$green: #46a948;
$green-hover: #5eb560;
$orange: #f0ad4e;
$pink: #f9d0d0;
$white-yellow: #fdf7e2;
$gold: #946d2b;

$blue-100: #d0e8f9;
$blue-200: #68b7ee;
$blue-300: #0072bc;
$blue-400: #1e90da;
$blue-500: #26426b;
$blue-600: #4272b2;
$blue-700: #355e98;

$grey-100: #fafafa;
$grey-150: #f5f5f5;
$grey-200: #e5e5e5;
$grey-300: #cccccc;
$grey-350: #bfbfbf;
$grey-355: #a6a6a6;
$grey-400: #767676;
$grey-500: #5a5b5b;