$error-bar-height: 25px;

$header-height: 72px;
$header-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);

$login-card-height: 300px;
$login-card-width: 400px;
$login-card-shadow: $header-shadow;

$user-menu-shadow: $login-card-shadow;
$user-menu-transition: bottom 300ms ease-in-out 0s;
$user-icon-transition: transform 300ms cubic-bezier(0.43, 0.01, 0.71, 1.35) 0s;

$layout-shadow: $header-shadow;
$dependencies-navigation-shadow: 0px 3px 5px -4px rgba(0, 0, 0, 0.4);

$side-menu-shadow: $header-shadow;
$top-menu-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);;

$operator-navigation-height: 150px;
$operator-side-shadow: $header-shadow;

$footer-height: 175px;

$result-shadow: $header-shadow;