html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $grey-500;
}

a {
  text-decoration: none !important;
  color: $blue-400;
}

.hidden {
  display: none!important;
}

button {
  outline: none;
  border: none;
  @include border-radius(4px);
  cursor: pointer;
  background: $blue-400;
  color: white;
  font-weight: 500;
  &.disabled {
    background: $grey-200;
    cursor: default;
  }
}

input, select {
  outline: none;
  border: solid 1px $grey-300;
  @include border-radius(4px);
  background: none;
}

input.invalid {
  border-color: $red;
  @include box-shadow(0px 0px 2px 0px $red);
}